
.container {
display: flex;
flex-direction: column;
}

.header {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}
.logotip {
    padding-top: 25px;
}
.href {
display: grid;
grid-template-columns: repeat(4,1fr);
margin-top: 10px;
}
.search {
    padding-top: 15px;
}
.text-field__icon {
    position: relative;
}
.text-field__aicon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.875rem;
    width: 1rem;
    cursor: pointer;
    color: #bdbdbd;
    transition: color 0.15s ease-in-out;
}
form {
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #B88E2F;
}
.lupa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}
.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}
form:hover {
    width: 200px;
    cursor: pointer;
}
form:hover input {
    display: block;
}
form:hover .fa {
    background: #B88E2F;
    color: white;
}
.img {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 150px;
    margin-top: 40px;
}
.navclass {
    text-decoration: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.navclass:hover {
    color: #B88E2F;
    text-decoration: underline;
}

.main__block {
    background-image: url(back.png);
    display: grid;
    align-items: center;
    height: 96vh;
    padding-right: 40px;
    justify-items: right;
}
.main__part {
    background-color: #FFF3E3;
    width: 643px;
    height: 443px;
    border-radius: 10px;
}    
.arrival {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;   
    letter-spacing: 3px;
    text-align: left;
    color: #333333;
    padding-left: 40px;
}
.maintext {
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    color: #B88E2F;
    padding-left: 40px;
}
.tezis {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
    padding-left: 40px;
}
.buy {
    background: #B88E2F;
    border: none;
    width: 222px;
    height: 74px;
    margin-left: 40px;
    color: #ffff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
}

.rooms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 1fr 20%;
    justify-items: center;
    margin-top: 100px;
}
.roomText {
    grid-column: 1/4;
    justify-self: center;
    padding-bottom: 30px;
}
.browse {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    color: #333333;
}
.elit {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    color: #666666;
}
.room {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
    color: #333333;
}

.cards-block{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
}
.our_products {
    grid-column: 1/5;
    justify-self: center;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #3A3A3A;
    padding-bottom: 30px;
    margin-top: 100px;
}
.product_info {
    width: 285px;
    height: 145px;
    top: 301px;
}
.first_price {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.name {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #3A3A3A;
}
.description {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #898989;
}
.price {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #3A3A3A;
}
.price1 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #B0B0B0;
    text-decoration: line-through;
    align-self: center;
}

.hover-effect-btn {
    position: relative;
    width: 285px;
    background: #F4F5F7;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 285px;
    height: 100%;
    transition: background 0.5s ease;
}
.hover-effect-btn:hover .overlay {
    background: #3A3A3A;
    width: 285px;
    height: 100%;
    opacity: 72%;
}
.button_product {
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    width: 202px;
    height: 48px;
    background-color: white;
    left: 15%;
    top: 40%;
}
.button_product a {
    font-family: Poppins;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color:  #B88E2F;
    z-index: 1; 
    text-decoration: none;
    width: 202px;
    height: 48px;
}
.hover-effect-btn:hover .button_product {
    opacity: 1; 
}

.button_show {
    padding-top: 30px;
    text-align:center
}
.show_more {
    width: 245px;
    height: 48px;
    top: 2646px;
    left: 598px;
    border: 1px solid #B88E2F;
    background-color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #B88E2F;
}

.share_img {
margin-top: 100px;
padding-left: 40px;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    margin-top: 100px;
    padding-left: 40px;
}
.footer1 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.footer4 {
    grid-column: 4/6;
}
.footer5 {
    grid-column: 1/2;
    grid-row: 2/6;
}
.footer8 {
    grid-column: 4/6;
}
.footer10 {
    grid-column: 3/6;
}
.footer12 {
    grid-column: 3/6;
}
.footer2, .footer3, .footer4, .footer5 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;
}

#subscribe, #email {
    border: none;
    background: none;
    text-decoration-line: underline;
}
#email:focus {
    outline: none;
}
#subscribe:hover {
    background: #B88E2F;
    border-radius: 5px;
    text-decoration-line: none;
}
.email {
    border: 1px solid black;
}


.buy:hover, .show_more:hover {
    background-color:rgba(106, 142, 35, 0.77);
    color: white;
    }

    



